.settings-container label {
  margin-left: 0.4rem;
  text-transform: capitalize;
}

.settings-container header {
  margin-bottom: 1rem;
}

.settings-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-container header button {
  border: none;
  background: none;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
